.idea
node_modules
.nyc_output
coverage
dir
build
dist
logs
tests
out
bin
.DS_Store
docker*
Dockerfile
.dockerignore
.env
.git*
.eslintignore
README.md
.husky
.lintstagedrc.js
.mocharc.json
.prettierrc.json
