services/watcher/src/config/*.json
services/watcher/config/local*.yaml
services/watcher/config/rosen
services/watcher/sqlite/

.idea
node_modules
.nyc_output
coverage
dir
build
dist
logs/
out
bin
.DS_Store
.env
yarn.lock
