---
network: '' # which scanner network used in this watcher ergo/cardano/bitcoin/ethereum
observation:
  confirmation: 60 # number of required block confirmations to create the commitment after observing an event
  validThreshold: 12960 # observations that have not been triggered won't be processed after this period (in blocks)
  storeRawData: true # if set extractor will store observations raw data
bitcoin:
  type: '' # options: esplora, rpc
  initial:
    height: -1 # initial height of scanning
  interval: 180 # scanning interval (in seconds)
  esplora:
    timeout: 10 # esplora request timeout (in seconds)
    url: 'https://blockstream.info' # esplora url
  rpc:
    timeout: 10 # rpc request timeout (in seconds)
    url: '' # rpc url
    # username: '' # rpc username for authentication required instances
    # password: '' # rpc password for authentication required instances
bitcoinRunes:
  type: 'unisat' # options: unisat, ordiscan
  unisat:
    url: 'https://open-api.unisat.io' # unisat api url
    apiKey: '' # unisat api key
  ordiscan:
    apiKey: '' # ordiscan api key
doge:
  type: '' # options: esplora, rpc
  initial:
    height: -1 # initial height of scanning
  interval: 180 # scanning interval (in seconds)
  esplora:
    - url: '' # esplora url
      timeout: 10 # esplora request timeout (in seconds)
  rpc:
    - url: '' # rpc url
      timeout: 10 # rpc request timeout (in seconds)
      # username: '' # rpc username for authentication required instances
      # password: '' # rpc password for authentication required instances
cardano:
  type: '' # options: koios, ogmios, blockfrost
  initial:
    slot: -1 # initial block global slot, only used for ogmios
    hash: '' # initial block hash, only used for ogmios
    height: -1 # initial height of scanning, only used for koios
  koios:
    interval: 20 # koios scanning interval (in seconds)
    timeout: 10 # koios request timeout (in seconds)
    url: 'https://api.koios.rest/api/v1' # koios url
    # authToken: # rpc auth token
  ogmios:
    host: '' # ogmios node host address
    port: 1337 # ogmios port
    connectionRetrialInterval: 30 # ogmios connection retrial interval (in seconds)
    useTls: false # connect to ogmios using https or not
  blockfrost:
    url: '' # url to connect to blockfrost
    projectId: '' # blockfrost project Id
    timeout: 10 # blockfrost request timeout
    interval: 20 # blockfrost check timeout
ethereum:
  type: '' # options: rpc
  initial:
    height: -1 # initial height of scanning
  interval: 20 # scanning interval (in seconds)
  rpc:
    url: '' # rpc url
    interval: 20 # rpc scanning interval (in seconds)
    timeout: 10 # rpc request timeout (in seconds)
    # authToken: # rpc auth token
binance:
  type: '' # options: rpc
  initial:
    height: -1 # initial height of scanning
  interval: 20 # scanning interval (in seconds)
  rpc:
    url: '' # rpc url
    timeout: 10 # rpc request timeout (in seconds)
    # authToken: # rpc auth token
ergo:
  network: 'Mainnet' # ergo network type. testnet or mainnet
  type: 'node' # ergo scanner type. options: node, explorer
  fee: '2000000' # transaction fee
  minBoxValue: '2000000' # minimum box value
  mnemonic: '' # watcher mnemonic
  initialHeight: 0 # scanner initial height
  explorer:
    url: 'https://api.ergoplatform.com' # explorer url
    timeout: 60 # explorer request timeout (in seconds)
  node:
    url: '' # node url
    timeout: 60 # node request timeout (in seconds)
  transaction:
    timeout: 10 # will remove invalid transactions from process queue after this period (in blocks)
    confirmation: 4 # required block confirmations for sent transactions
    commitmentTimeoutConfirmation: 1440 # required block confirmations for a commitment to redeem
  interval:
    scanner: 180 # scanner update interval (in seconds)
    revenue: 120 # revenue update interval (in seconds)
    transaction: 120 # processing transaction interval (in seconds)
    tokenName: 180 # token name check interval (in seconds)
    commitment:
      creation: 120 # commitment creation interval (in seconds)
      reveal: 180 # commitment reveal interval (in seconds)
      redeem: 120 # commitment reveal interval (in seconds)
    wid:
      status: 120 # wid status check interval (in seconds)
    minimumFee: 300
path:
  addresses: config/rosen # addresses path
  # tokens: config/rosen/tokens.json # default tokens path.
logs:
  - type: 'file' # [file, console]
    path: './logs/' # path to log files (only for rotateFile type)
    maxSize: '20m' # maximum size of each log file (20 MB) (only for rotateFile type)
    maxFiles: '14d' # maximum number of log files (14 days) (only for rotateFile type)
    level: 'info' # [debug, info, warn, error]
  - type: 'console'
    level: 'info'
database:
  type: 'sqlite' # options: postgres, sqlite
  path: './sqlite/watcher.sqlite' # database path (for sqlite)
  # host: '' # database host (for postgres)
  # port: 5432 # database port (for postgres)
  # user: '' # database user (for postgres)
  # password: '' # database password (for postgres)
  # name: '' # database name (for postgres)
api:
  port: 3000 # port used to run express server
  apiKeyHash: '' # blake2b hash of API_KEY
  allowedOrigins: [] # list of allowed origins for CORS requests
healthCheck:
  interval: 60 # health check update interval (in seconds)
  asset:
    ergWarnThreshold: 1000000000 # minimum recommended erg balance
    ergCriticalThreshold: 100000000 # minimum required erg balance
  ergoScanner:
    warnDifference: 5 # warning difference between existing and scanned blocks height
    criticalDifference: 20 # critical difference between existing and scanned blocks height
  ergoNode:
    maxHeightDifference: 2 # maximum difference between header height and full height
    maxBlockTime: 30 # maximum time to see a new block in minutes
    minPeerCount: 10 # minimum recommended peers
    maxPeerHeightDifference: 2 # maximum difference between peers and our node
  cardanoScanner:
    warnDifference: 2 # warning difference between existing and scanned blocks height
    criticalDifference: 600 # critical difference between existing and scanned blocks height
  bitcoinScanner:
    warnDifference: 2 # warning difference between existing and scanned blocks height
    criticalDifference: 10 # critical difference between existing and scanned blocks height
  dogeScanner:
    warnDifference: 8 # warning difference between existing and scanned blocks height
    criticalDifference: 32 # critical difference between existing and scanned blocks height
  ethereumScanner:
    warnDifference: 40 # warning difference between existing and scanned blocks height
    criticalDifference: 160 # critical difference between existing and scanned blocks height
  binanceScanner:
    warnDifference: 160 # warning difference between existing and scanned blocks height
    criticalDifference: 640 # critical difference between existing and scanned blocks height
  permit:
    warnCommitmentCount: 4 # warning remaining permits for creating commitment
    criticalCommitmentCount: 0 # critical remaining permits for creating commitment
  logs:
    duration: 600 # log duration time check (in seconds)
    maxAllowedErrorCount: 1 # maximum allowed error log lines
    maxAllowedWarnCount: 10 # maximum allowed warn log lines
rewardCollection:
  threshold: 100000 # RSN threshold for reward collection
  interval: 600 # reward collection interval in seconds
  # address: "" # reward collection address (uses default address if not set)
initialization:
  eventTrigger: false # if true, the event trigger initialization will be enabled
versionInputExtension: true # if true, the version will be written in the input extension
# notification:
#   discordWebhookUrl: '' # discord notification webhook
#   historyCleanupThreshold: # notification history cleanup threshold (in seconds, uses default if not set)
#   windowDurations:
#     hasBeenUnstableForAWhile: # window duration to notify when service has been unstable for a while (in seconds, uses default if not set)
#     hasBeenUnknownForAWhile:  # window duration to notify when service has been in unknown status for a while (in seconds, uses default if not set)
#     isStillUnhealthy:  # window duration to notify when service is still unhealthy (in seconds, uses default if not set)
